html,body { 
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; 
  overflow: hidden;
}

#game,#gameArea {
  display: flex;
  justify-content: center;
  align-items: center;
 }

canvas{
  padding: 0;
  margin: -5px auto; 
  display: flex; 
  width:1500px; 
  height: 700px;
  justify-content: center;
  align-items: center;
  border: 5px solid goldenrod;
  border-radius: 15px;
}
/* menu btn */
#menubtn {
  position: absolute; 
  border: none; 
  left: 35px;
  top: 40px; 
  border-radius: 3px; 
  background: transparent; 
} #menubtn img {
  width: 50px;
  height: 50px;
  outline: none; 
  }
/* refresh game btn */
#refresh {
  position: absolute; 
  left: 90px; 
  top: 40px; 
  border: none; 
  border-radius: 3px; 
  background: transparent; 
} #refresh img {
  width: 49px;
  height: 49px;
  outline: none; 
}
/* playbtn game */
#pause {
  position: absolute; 
  border: none; 
  left: 142px;
  top: 40px; 
  border-radius: 3px; 
  background: transparent; 
} #pause img {
    width: 49px;
    height: 49px;
    outline: none; 
  }
/* musicBg btn  */
#musicBg {
  position: absolute;
  border: none; 
  left: 193px;
  top: 40px; 
  border-radius: 3px; 
  background: transparent;
} #musicBg img {
  width: 49px;
  height: 49px;
  outline: none;
}
/* popup menu */
#pauseMenu {
  position: absolute;
  width: 550px;
  height: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("assets/bgpausemenu.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  padding: 20px;
  display: none;
  align-items: center;
}
/* resume btn */
#playpopup {
  position: absolute;
  top: 180px; 
  left: 140px;
  background-color: transparent; 
  border: none;
  outline: none;
} #playpopup img {
  height: 95px; 
  width: 303px;
  }
/* bantuan btn */
#infoButton {
  position: absolute;
  top: 280px;
  left: 140px;
  background-color: transparent; 
  border: none;
  outline: none;
} #infoButton img{
  height: 86px;
  width: 300px;
  }
/* info btn */
#bantuanButton {
  position: absolute;
  top: 375px;
  left: 140px;
  background-color: transparent; 
  border: none;
  outline: none;
} #bantuanButton img{
  height: 89px;
  width: 302px;
  }

#movementBtns { display: none;}

      /* Stil khusus untuk versi mobile */
      @media (max-width: 1024px) and (orientation: landscape) {
        html,body { 
          margin: auto;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center; 
          overflow: hidden;
        }
        
        #game,#gameArea {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        canvas{
          padding: 0;
          margin: -5px auto; 
          display: flex; 
          width:790px; 
          height: 355px;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
        }
        
        /* tombol penggerak versi mobile */
         #movementBtns {
          position: absolute;
          background-color: transparent;
          margin-top: 120px; 
          } .movement-btns button img{
              position: relative;
              background-color: transparent;
              border: none;
              outline: none;
              width: 75px;
              height: 75px;
            }
            #upBtn {
              position: absolute;
              left: -340px;
              background-color: transparent;
              border: none;
            }
            #rightBtn {
              position: absolute;
              right: -340px;
              background-color: transparent;
              border: none;
            }
            #leftBtn {
              position: absolute;
              right: -240px;
              background-color: transparent;
              border: none;
            }

        /* Tombol menu,refresh,pause/play,music. */
        #menubtn>img, #refresh>img, #pause>img, #musicBg>img {
          width: 35px;
          margin-top: -15px;
          height: auto;
          background-color: transparent;
        } #refresh {
            left: 70px;
          }
          #pause {
            left: 105px;
          }
          #musicBg {
            left: 140px;
          }

        /* Popup Menu */
        #pauseMenu {
          width: 300px; 
          height: 300px; 
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url("assets/bgpausemenu.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-color: transparent;
          display: none;
        } #playpopup, #infoButton, #bantuanButton {
          left: 88px;
          }
          #playpopup img, #infoButton img, #bantuanButton img {
            height: 60px;
            width: 150px;
            background-color: transparent;
          } #playpopup {
            top: 95px;
            }
            #infoButton {
              top: 155px;
            }
            #bantuanButton {
              top: 217px;
            }
        
        .my-swal-popup {
          font-size: 7px !important;
          width: 50% !important;
        }
        .my-swal-confirm-button, .my-swal-cancel-button { font-size: 10px !important; }
    }